- @comments.each do |comment|
  .comment
    %strong.comment_title=comment.user.name
    %br
    %p=comment.content
    %small
      Posted:
      =comment.created_at
    -if is_signed_in_and_author_of(comment) # normally i would use CanCanCan
      %p=link_to 'Delete', [comment.movie, comment], method: :delete, data: { confirm: 'Are you sure?' }