// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// new comment form
.new_comment {
  .field {
    padding: 20px 0px;
  }
  .d-flex {
    display: flex;
  }

  .flex-column {
    flex-direction: column;
  }
}

// comments index
.comment {
  padding: 10px 15px;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

